.mealType{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0px 100px;
}

.mealType button{
    padding:4px 7px;
    border-radius: 3px;
    cursor: pointer;
}

.selected{
  background-color: rgb(245, 183, 84); /* green */
  color: white;
  border-color: rgb(245, 183, 84);
  font-weight: bold;
}

.notSelected{
    background-color: white;
    color:rgb(245, 183, 84);
    border:0px solid  rgb(159, 159, 159);
}